$dark-background: #121212;
$light-background: #ffffff;
$dark-text: #ffffff;
$light-text: #000000;

.darkTheme {
  background-color: $dark-background;
  color: $dark-text;
}

.lightTheme {
  background-color: $light-background;
  color: $light-text;
}
